.matchup-search-modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.matchup-search-modal {
    position: relative;
    width: 29.583vw;
    height: 39.531vw;
    background: #fff;
    border-radius: 0.625vw;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
    overflow: hidden;
}

.matchup-search-modal-close {
  position: absolute;
  top: 1.042vw;
  right: 1.042vw;

  width: 0.823vw;
  height: 0.823vw;
  cursor: pointer;
}

.matchup-search-filter-modal {
  display: grid;
  grid-template-rows: 10.417vw 15.625vw 3.854vw;
  padding: 3.646vw 3.125vw 2.604vw 3.125vw;

}

.matchup-search-filter-section {
  display: grid;
  grid-template-columns:2.396vw 20.938vw;

}

.matchup-search-filter-title {
  display: flex;
  border-bottom: 1px solid var(--white, #FFF);
  background: var(--Primary, #16C0CC);
  color: var(--white, #FFF);
  font-family: Pretendard;
  font-size: 0.781vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-items: center;
  justify-content: center;
}

.matchup-search-filter-options-region {
  padding: 1.042vw 0.521vw;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0.521vw 0.625vw;
  border-bottom: 1.5px solid #16C0CC;;
  border-top :1.5px solid #16C0CC;;

}
.matchup-search-filter-options {
  padding: 1.042vw 0.521vw;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0.521vw 0.625vw;
  border-bottom: 1.5px solid #16C0CC;;
}

.matchup-search-filter-date {
  padding: 1.042vw 0.521vw;
  border-bottom: 1.5px solid #16C0CC;
  display: grid;
  grid-template-columns: 6.302vw 0.677vw 6.302vw;
  gap: 0.521vw;
  align-items: center;
  
  
}
.matchup-search-filter-date input{
  padding: 0.521vw;
  border: 1.5px solid #D6D6D6;
  border-radius: 0.417vw;
  font-family: Pretendard;
  font-size: 0.625vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.matchup-search-filter-date input:focus{
  border: 1.5px solid #16C0CC;
  outline: none;

}


.matchup-search-filter-options label,.matchup-search-filter-options-region label {
  display: flex;
  align-items: center;
  gap: 0.26vw;
  color: var(--Text, #1F1F1F);
  font-family: Pretendard;
  font-size: 0.781vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  user-select: none;
}

.matchup-search-filter-options input[type="checkbox"] {
  width: 0.738vw;
  height: 0.738vw;
  accent-color: #16C0CC;
  appearance: none;
  border: 1.5px solid #16C0CC;
  cursor: pointer;
}

.matchup-search-filter-options-region input[type="checkbox"] {
  width: 0.738vw;
  height: 0.738vw;
  accent-color: #16C0CC;
  appearance: none;
  border: 1.5px solid #16C0CC;
  cursor: pointer;
}

.matchup-search-filter-options input[type="checkbox"]:checked {
  background-color: #16C0CC;
}
.matchup-search-filter-options-region input[type="checkbox"]:checked {
  background-color: #16C0CC;
}

.matchup-search-filter-footer {
  margin-top: 2.604vw;
  display: flex;
  justify-content: center;
  padding-top: 0.312vw;
}

.matchup-search-confirm-btn {
  width: 3.438vw;
  height: 1.823vw;
  padding: 0 0.833vw;
  border: none;
  border-radius: 0.417vw;
  background: #16C0CC;
  color: #fff;
  font-family: Pretendard;
  font-size: 0.729vw;
  font-weight: 600;
  cursor: pointer;
}

.matchup-search-confirm-btn:hover {
  background: #9CE2E7;
}
.matchup-search-confirm-btn:active {
  background: #007F88;
}

