.container {
  display: grid;
  grid-template-columns: 11.927vw 1fr;
}

.matchup-board-container {
  display: grid;
  grid-template-rows: 2.604vw 1fr;
  background-color: #f7fafa;
  padding: 1.771vw 4.167vw 5.521vw 4.062vw;
  gap: 2.604vw;
}
.matchup-board-header {
  display: grid;
  grid-template-columns: 64.531vw 6.406vw;
  gap: 8.906vw;
}
.matchup-board-header-search {
  display: grid;
  grid-template-columns: 10.573vw 18.49vw 30.26vw;
  gap: 2.604vw;
}

.dropdown-selected {
  border: 1.5px solid #d6d6d6;
  width: 8.49vw;
  height: 0.938vw;
  padding: 0.729vw 1.042vw;
  border-radius: 0.417vw;
  display: flex;
  font-family: Pretendard;
  font-size: 0.677vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
}
.dropdown-list {
  position: absolute;
  border-radius: 0.417vw;
  border: 1.5px solid var(--Gray-2, #d6d6d6);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  color: var(--Gray-4, #9e9e9e);
  font-family: Pretendard;
  font-size: 0.781vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 10.573vw;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 9999;
}
.dropdown-selected.open {
  box-shadow: 0 0 0 2px rgba(22, 192, 204, 0.15);
  border: 1.5px solid var(--Primary, #16c0cc);
  outline: none;
}
.dropdown-list li {
  height: 2.552vw;
  display: flex;
  align-items: center;
  padding-left: 1.042vw;
  cursor: pointer;
}
.dropdown-list li:hover {
  background-color: #eafdff;
  color: #000;
}
.dropdown-arrow {
  width: 0.807vw;
  height: 0.432vw;
  margin-top: 0.26vw;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.matchup-board-header-search-input input {
  width: 16.406vw;
  height: 0.833vw;
  padding: 0.781vw 1.042vw;
  border-radius: 0.417vw;
  border: 1.5px solid var(--Primary, #d6d6d6);
  background: #fff;
  font-family: Pretendard;
  font-size: 0.677vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #000;
}
.matchup-board-header-search-input input:focus {
  box-shadow: 0 0 0 2px rgba(22, 192, 204, 0.15);
  border: 1.5px solid var(--Primary, #16c0cc);
  outline: none;
}

.matchup-board-header-search-input {
  position: relative;
}

.matchup-board-header-search-input img {
  position: absolute;
  right: 0.625vw;
  top: 50%;
  transform: translateY(-50%);
  width: 1.302vw;
  height: 1.302vw;
  pointer-events: none;
}

.matchup-board-search-condition {
  width: 28.177vw;
  height: 1.354vw;
  padding: 0.521vw 1.042vw;
  border-radius: 0.417vw;
  border: 1.5px solid var(--Primary, #d6d6d6);
  background: #fff;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 4.271vw 17.812vw 3.646vw;
  gap: 1.302vw;
}

.matchup-board-search-condition-left {
  color: var(--Gray-4, #d6d6d6);
  font-family: Pretendard;
  font-size: 0.677vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 15px */
  cursor: pointer;
  display: flex;
  align-items: center;
}
.matchup-board-search-condition-left img {
  width: 0.625vw;
  margin-left: 0.625vw;
  margin-bottom: 0.052vw;
}

.matchup-board-search-condition-right {
  display: flex;
  color: var(--Gray-4, #9e9e9e);
  font-family: Pretendard;
  font-size: 0.625vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.matchup-board-search-condition-right img {
  margin-left: 0.312vw;
  width: 0.625vw;
  height: 0.625vw;
}

.matchup-board-content {
  display: flex;
  flex-direction: column;
  overflow: visible;
  height: 38.021vw;
  width: 79.844vw;
  
}

.matchup-board-table-wrapper {
  flex: 1;
  overflow-y: auto;
  border-radius: 0.417vw;
  width: 79.844vw;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 2.604vw;
}

.matchup-board-table-wrapper table tr {
  
}

.matchup-board-pagination-mono:hover,
.matchup-board-pagination-double:hover,
.pagination-numbers button:hover {
  color: #333;
  background-color: #eee;
}
.matchup-board-table-wrapper table {
  width: 79.844vw;
  border-collapse: collapse;
  overflow: hidden;
}
.matchup-board-table-wrapper thead {
  background: var(--Primary, #16c0cc);

  justify-content: center;
  align-items: center;
  align-self: stretch;
  color: var(--white, #fff);
  font-family: Pretendard;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.matchup-board-table-wrapper table thead tr {
  height: 3.177vw;
}
.matchup-board-table-wrapper table tbody {
  color: var(--Text, #1f1f1f);
  font-family: Pretendard;
  font-size: 0.781vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.matchup-board-table-wrapper table tbody td {
  height: 3.021vw;
  width: 11.406vw;
  text-align: center;
}
.matchup-board-table-wrapper tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.matchup-board-table-wrapper tbody tr:nth-child(even) {
  background-color: #f6f6f6;
}
.matchup-board-table-wrapper tbody button {
  border: none;
  border-radius: 0.104vw;
  background: #d6fbff;
  width: 3.229vw;
  height: 1.25vw;
  color: var(--Text, #1f1f1f);
  font-family: Pretendard;
  font-size: 0.625vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.matchup-board-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.matchup-board-pagination-double {
  width: 0.573vw;
  height: 0.573vw;
  margin-top: 0.146vw;
  cursor: pointer;
}
.matchup-board-pagination-mono {
  width: 0.833vw;
  height: 0.833vw;
  cursor: pointer;
}
.pagination-numbers {
  display: flex;
  gap: 1.302vw;
  margin: 0 2.083vw;
}
.pagination-move {
  display: flex;
  gap: 0.781vw;
}
.matchup-board-pagination button {
  border: none;
  background: none;
  cursor: pointer;
  height: 0.938vw;
  text-align: center;
  font-family: Pretendard;
  font-size: 0.781vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.matchup-board-pagination button.active {
  color: #16c0cc;
  font-weight: 600;
}

.thead-date {
  display: grid;
  grid-template-columns: 1.667vw 0.729vw;
  gap: 0.521vw;
  align-items: center;
  justify-content: center;
}
.thead-date {
  cursor: pointer;
}
.thead-date img.rotate {
  transform: rotate(180deg);
}
.matchup-board-table-wrapper table {
  table-layout: fixed;
}
.matchup-board-filter-chip {
  width: 3.646vw;
  height: 1.042vw;
  border-radius: 0.104vw;
  background: #eafdff;
  color: var(--Text, #1f1f1f);
  font-family: Pretendard;
  font-size: 0.781vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 15px */
  display: grid;
  grid-template-columns: 2.708vw 0.521vw;
  gap: 0.156vw;
  align-items: center;
  justify-content: center;
  padding: 0.26vw;
}
.matchup-board-filter-chip img {
  width: 0.417vw;
  height: 0.417vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.matchup-board-search-condition-middle {
  display: flex;
  align-items: center;
  gap: 0.26vw;
  justify-content: flex-start;
  overflow-x: auto;
}
.matchup-board-header-add button {
  width: 6.406vw;
  height: 2.5vw;
  padding: 0.781vw 1.042vw;
  display: flex;
  align-items: center;
  border-radius: 0.417vw;
  background: var(--Primary, #16c0cc);
  color: #fff;
  font-family: Pretendard;
  font-size: 0.781vw;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 18px */
  border: none;
  cursor: pointer;
  justify-content: center;
}
.matchup-board-header-add button:hover {
  background: #9ce2e7;
}
.matchup-board-header-add button:active {
  background: #007f88;
}
.club-small-icon {
  width: 1.771vw;
  height: 1.771vw;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.matchup-board-table-wrapper td div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.417vw;
}
.detail-cell {
  padding: 0;
  border: none;
}

.accordion-row td {
  padding: 0;
  border: none;
}

.accordion-content {
  justify-content: initial !important;
  background: #fff;
  padding: 2.578vw 3.776vw;
  height: 15.99vw;
  display: grid !important;
  grid-template-columns: 28.438vw 25.469vw 4.792vw !important;
  gap: 6.354vw 7.24vw !important;
}
.accordion-content-left {
  justify-content: initial !important;
  display: grid !important;
  grid-template-rows: 1.042vw 14.531vw !important;
  gap: 0.521vw !important;
}
.accordion-content-middle {
  justify-content: initial !important;
  display: grid !important;
  grid-template-rows: 1.771vw 1.771vw 9.844vw !important;
  gap: 0.781vw !important;
}
.accordion-content-middle-time {
  justify-content: initial !important;
  display: grid !important;
  grid-template-columns: 3.594vw 8.854vw !important;
  gap: 1.302vw !important;
  height: 1.771vw !important;
  text-align: start !important;
}
.accordion-content-middle-time div {
  justify-content: initial !important;
  display: flex !important;
  gap: 0.521vw !important;
  height: 1.771vw !important;
}
.accordion-content-middle-time div input {
  border-radius: 0.417vw;
  border: 1.5px solid var(--Gray-2, #d6d6d6);
  background: var(--white, #fff);
  color: var(--Text, #1f1f1f);
  text-align: center;
  font-family: Pretendard;
  font-size: 0.781vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 1.667vw !important;
  width: 3.594vw !important;
  color: var(--Gray-4, #9e9e9e);
}
.accordion-content-middle-time div input:focus,
.accordion-content-middle-phone input:focus,
.accordion-content-middle-content textarea:focus {
  border: 1.5px solid var(--Primary, #16c0cc) !important;
  outline: none !important;
}
.accordion-content-middle-phone {
  justify-content: initial !important;
  display: grid !important;
  grid-template-columns: 3.594vw 8.854vw !important;
  gap: 1.302vw !important;
  text-align: start !important;
}
.accordion-content-middle-phone input {
  border-radius: 0.417vw;
  border: 1.5px solid var(--Gray-2, #d6d6d6);
  background: var(--white, #fff);
  color: var(--Text, #1f1f1f);
  text-align: center;
  font-family: Pretendard;
  font-size: 0.781vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 1.667vw !important;
  width: 9.062vw !important;
}
.accordion-content-middle-content {
  justify-content: initial !important;
  text-align: start !important;
  display: grid !important;
  grid-template-rows: 0.938vw 8.385vw !important;
  gap: 0.521vw !important;
}

.accordion-content-middle-content textarea {
  width: 24.427vw;
  height: 6.823vw;
  border-radius: 0.417vw;
  border: 1.5px solid var(--Gray-2, #d6d6d6);
  background: #fff;
  padding: 0.781vw 0.521vw;
  font-family: Pretendard;
  font-size: 0.781vw !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 100%; /* 15px */
}
.accordion-apply-button,
.accordion-edit-button {
  display: flex !important;
  width: 5.312vw !important;
  height: 1.823vw !important;
  padding: 0.521vw 1.042vw !important;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  border-radius: 0.26vw !important;
  background: var(--Primary, #16c0cc) !important;
  color: #fff;
  font-family: Pretendard;
  font-size: 0.781vw !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 100%; /* 15px */
}
.accordion-apply-button:hover,
.accordion-edit-button:hover {
  background: #9ce2e7 !important;
}
.accordion-apply-button:active,
.accordion-edit-button:active {
  background: #007f88 !important;
}
.detail-map {
  width: 100%;
  height: 13.021vw;
  margin-top: 0.625vw;
  border-radius: 0.417vw;
}
.accordion-content-left {
  text-align: start !important;
}
.accordion-content-right-buttons {
  display: grid !important;
  grid-template-rows: 1.562vw 1.562vw !important;
  gap: 0.521vw !important;
}
.accordion-delete-button {
  display: flex !important;
  width: 5.312vw !important;
  height: 1.823vw !important;
  padding: 0.521vw 1.042vw !important;
  justify-content: center;
  align-items: center;
  color: #16c0cc !important;
  border: 1.5px solid #16c0cc !important;
  border-radius: 0.26vw !important;
  background: var(--Primary, #fff) !important;
  color: #fff;
  font-family: Pretendard;
  font-size: 0.781vw !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 100%; /* 15px */
}
.accordion-delete-button:hover {
  border: 1.5px solid #8bf7ff !important;
  background: #eafdff !important;
  color: #8bf7ff !important;
}
.accordion-delete-button:active {
  border: 1.5px solid #007f88 !important;
  background: rgba(0, 127, 136, 0.3) !important;
  color: #007f88 !important;
}
.matchup-board-clubName {
  justify-content: initial !important;
}
.matchup-board-search-condition.active {
  border: 1.5px solid #16c0cc;
}