.calendar {
  width: 23.958vw;
  margin: auto;
  font-family: Pretendard;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.562vw;

  font-size: 1.146vw;
  font-weight: 600;
  margin-bottom: 2.083vw;
}

.arrow {
  width: 0.938vw;
  cursor: pointer;
}

.calendar-week {
    display: grid;
    grid-template-columns: repeat(7, 1.667vw);
    gap:2.083vw;

    margin-bottom: 1.719vw;

    color: var(--Primary, #424041);
    text-align: center;
    font-family: Pretendard;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 100% */
    text-transform: capitalize;
}

.week-item {
  text-align: center;
  color: #666;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1.667vw);

  column-gap: 2.083vw;
  row-gap: 1.719vw;
}

.calendar-cell {
  height: 1.667vw;
  width: 1.667vw;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.date-circle {
  width: 1.667vw;
  height: 1.667vw;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  color: var(--Primary, #424041);
    text-align: center;
    font-family: Pretendard;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 100% */
    text-transform: capitalize;
}

.date-circle.schedule {
  background-color: #41DF82;
  color: white;
}

.filled {
  background: #1fb6c1;
  color: var(--white, #FFF);
    text-align: center;
    font-family: Pretendard;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 100% */
    text-transform: capitalize;
}

.outline {
    border: 2px solid #1fb6c1;
    background-color: rgba(22, 192, 204, 0.20);;
    color: var(--Primary, #424041);
    text-align: center;
    font-family: Pretendard;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 100% */
    text-transform: capitalize;
}

.other-month{
    color: var(--Gray-2, #D6D6D6);
    text-align: center;
    font-family: Pretendard;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 100% */
    text-transform: capitalize;
}