.layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  width: 17.552vw;
  background: #fafafa;
  border-right: 1px solid #eaeaea;
  

  padding: 1.823vw;
  box-sizing: border-box;
}

.main {
  flex: 1;
  padding: 1.25vw;
  box-sizing: border-box;
}

.search-frame {
  display: flex;
  flex-direction: column;
  gap: 0.521vw;
  margin-bottom: 2.344vw;
}

.search-input {
    height: 2.604vw;
}

.search-condition-box {
  width: 100%;
  background-color: #e5e5e5;
  border-radius: 0.208vw;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.search-condition-header {
  height: 1.875vw;
  padding: 0 0.625vw;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #dcdcdc;
  border-bottom: 1px solid #bfbfbf;

  font-size: 0.729vw;
  font-weight: 500;
  color: #000;

  cursor: pointer;
}

.search-condition-header .arrow {
  font-size: 0.938vw;
}

.search-condition-body {
  display: flex;
  min-height: 4.688vw;
  padding: 0.521vw;
  flex-wrap: wrap;
  gap: 0.417vw;
  background-color: #e5e5e5;
}


.filter-chip {
  display: flex;
  align-items: center;
  gap: 0.312vw;
  height: 0.521vw;

  padding: 0.312vw 0.521vw;
  background: #fff;
  border: 1px solid #bfbfbf;
  border-radius: 0.312vw;

  font-size: 0.625vw;
}

.chip-remove {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0.729vw;
  line-height: 1;
}

.search-condition-footer {
  padding: 0.312vw 0.521vw;

  font-size: 0.573vw;
  color: #666;
  text-align: right;
}

