.container{
    display: grid;
    grid-template-columns: 229px 1fr;

}

.matchup-board-container {
    display: grid;
    grid-template-rows: 50px 1fr;
    background-color: #F7FAFA;
    padding: 34px 80px 106px 78px;
    gap: 50px;
}
.matchup-board-header{
    display:grid;
    grid-template-columns: 1239px 123px;
    gap:171px;
}
.matchup-board-header-search{
     display: grid;
     grid-template-columns: 355px 355px 1128px;
     gap: 50px;
}

.matchup-board-header-search-input input{
    width: 315px;
    height: 15px;
    padding: 17.5px 20px;
    border-radius: 8px;
    border: 1.5px solid var(--Primary, #16C0CC);
    background: #FFF;
}

.matchup-board-header-search-input input:focus{
    box-shadow: 0 0 0 2px rgba(22,192,204,0.15);
    border: 1.5px solid var(--Primary, #16C0CC);
    outline: none;
}

.matchup-board-header-search-input {
    position: relative;
}

.matchup-board-header-search-input img {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    pointer-events: none;
}

.matchup-board-search-condition{
    width: 541px;
    padding: 12px 20px;
    border-radius: 8px;
    border: 1.5px solid var(--Primary, #16C0CC);
    background: #FFF;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 82px 342px 68px ;
    gap: 25px;
}

.matchup-board-search-condition-left{
    color: var(--Gray-4, #9E9E9E);
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 15px */
    cursor: pointer;
    display: flex;
    align-items: center;
}
.matchup-board-search-condition-left img{
    margin-left: 12px;
    margin-bottom: 1px;
}

.matchup-board-search-condition-right{
    display: flex;
    color: var(--Gray-4, #9E9E9E);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 12px */
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.matchup-board-search-condition-right img{
    margin-left: 2px;
    width: 12px;
    height: 12px;
}

.matchup-board-content{
    display: flex;
    flex-direction: column;
    height: 813px;
    width:1533px;
}

.matchup-board-table-wrapper {
    flex: 1;
    overflow-y: auto;
    border-radius: 8px;
    width: 1533px;
}
.upcoming-match-table-wrapper table th{
    
    
}
.matchup-board-table-wrapper table tr{

    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
}

.matchup-board-table-wrapper table{
    width: 1533px;
    border-collapse: collapse;
    overflow: hidden;
    
}
.matchup-board-table-wrapper thead{
    background: var(--Primary, #16C0CC);
    
    
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: var(--white, #FFF);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.matchup-board-table-wrapper table thead tr{
    height: 61px;
    
}
.matchup-board-table-wrapper table tbody{
    
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.matchup-board-table-wrapper table tbody td{
    height: 58px;
    width: 219px;
    text-align: center;
    
}
.matchup-board-table-wrapper tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.matchup-board-table-wrapper tbody tr:nth-child(even) {
  background-color: #F2F2F2;
}
.matchup-board-table-wrapper tbody button{
    border: none;
    border-radius: 2px;
    background: #D6FBFF;
    width: 62px;
    height: 24px;
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}
.matchup-board-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.matchup-board-pagination-double{
    width: 11px;
    height: 11px;
    margin-top: 2.8px;
}
.matchup-board-pagination-mono{
    width: 16px;
    height: 16px;
}
.pagination-numbers {
    display: flex;
    gap: 25px;
    margin: 0 40px;
}
.pagination-move {
    display: flex;
    gap: 15px;
}
.matchup-board-pagination button {
    border: none;
    background: none;
    cursor: pointer;
    height: 18px;
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.matchup-board-pagination button.active {
    color: #16C0CC;
    font-weight: 600;
}

.thead-date{
    display:grid;
    grid-template-columns: 32px 14px;
    gap:10px;
    align-items: center;
    justify-content: center;
}
.thead-date{
    cursor: pointer;
}
.thead-date img.rotate {
    transform: rotate(180deg);
}
.matchup-board-table-wrapper table {
  table-layout: fixed;
}
.matchup-board-filter-chip{
  width: 70px;
  height: 20px;
  border-radius: 2px;
  background: #EAFDFF;
  color: var(--Text, #1F1F1F);
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 15px */
  display: grid;
  grid-template-columns: 52px 10px;
  gap: 3px;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.matchup-board-filter-chip img{
  width: 8px;
  height: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.matchup-board-search-condition-middle{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
    overflow-x: auto;
}