.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 50.938vw;

  background: #e5e5e5;
  border-radius: 2.604vw;
  padding: 1.042vw;
}
.filter-modal {
  width: 45.729vw;
  background: #e5e5e5;
  padding: 2.604vw;
  
}

.filter-section {
  display: flex;
  border: 1px solid #cfcfcf;
  background: #f0f0f0;
  margin-bottom: 0.625vw;
  width: 43.229vw;
  height: 12.72vw;
  align-items: center;
  justify-content: center;
  
}

.filter-title {
  width: 4.167vw;
  background: #f0f0f0;
  border-right: 1px solid #000000;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: 500;
}

.filter-options {
  margin-left: 1.094vw;
  margin-right: 1.094vw;
  flex: 1;
  padding: 0.521vw;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.417vw 0.625vw;
  width: 32.969vw;
  height: 8.698vw;
  overflow-y: auto;
}

.filter-options input[type="checkbox"] {
  transform: scale(2.0);
  margin-right: 0.208vw;
}

.filter-options label {
  font-size: 0.677vw;
  display: flex;
  align-items: center;
  gap: 0.312vw;
}

.filter-footer {
  display: flex;
  justify-content: flex-end;
}

.confirm-btn {
  width: 4.167vw;
  height: 1.875vw;

  background: #b5b5b5;
  border: none;

  font-size: 0.729vw;
  cursor: pointer;
}