 .delete-matchup-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2000;
}

.delete-matchup-modal {
    transform: translateY(-200px);
    position: relative;
    background: #fff;
    padding: 1.042vw;
    width: 13.906vw;
    height: 4.427vw;
    padding: 2.344vw 3.646vw 1.562vw 3.646vw;
    border-radius: 0.521vw;
    align-items: center;
    justify-items: center;
}

.delete-matchup-close{
    position: absolute;
    top: 1.042vw;
    right: 1.042vw;

    width: 0.823vw;
    height: 0.823vw;
    cursor: pointer;
}

.delete-matchup-modal-text{
    color: var(--Text, #1F1F1F);
    text-align: center;
    font-family: Pretendard;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    margin-bottom: 1.562vw;
}

.delete-matchup-modal-button{
    display: grid;
    grid-template-columns: 3.438vw 3.438vw;
    gap:12px
}

.delete-matchup-modal-button-confirm{
    border: 0px;
    width: 3.438vw;
    height: 1.823vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.26vw;
    background: var(--Primary, #16C0CC);
    color: #fff;
    cursor: pointer;
}
.delete-matchup-modal-button-confirm:hover{
    background: #9CE2E7;
}
.delete-matchup-modal-button-confirm:active{
    background: #007F88;
}
.delete-matchup-modal-button-cancel{
    border: 0px;
    width: 3.438vw;
    height: 1.823vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.26vw;
    background: #fff;
    border: 1.5px solid var(--Primary, #16C0CC);
    color:#16C0CC;
    cursor: pointer;
}
.delete-matchup-modal-button-cancel:hover{
    color: #8BF7FF;
    border: 1.5px solid #8BF7FF;
    background: #EAFDFF;
    outline: none;
}
.delete-matchup-modal-button-cancel:active{
    border: 1.5px solid #007F88;
    background: rgba(0, 127, 136, 0.30);
    outline: none;
    color: #007F88;
}