.add-calendar-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2000;
}

.add-calendar-modal {
  position: relative;
  background: #fff;
  width: 17.396vw;
  padding: 3.646vw 3.594vw 2.604vw 3.594vw;
  border-radius: 1.042vw;
}

.add-calendar-modal-close {
  position: absolute;
  top: 1.042vw;
  right: 1.042vw;

  width: 0.823vw;
  height: 0.823vw;
  cursor: pointer;
}

.add-calendar-modal-main {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}
.add-calendar-modal-title {
  color: var(--Text, #1f1f1f);
  text-align: center;
  font-family: Pretendard;
  font-size: 1.302vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.add-calendar-modal-detail {
  display: flex;
  flex-direction: column;
  gap: 1.042vw;
  align-items: center;
}

.add-calendar-modal-detail span {
  color: var(--Text, #1f1f1f);
  font-family: Pretendard;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.add-calendar-modal-detail-name {
  display: grid;
  grid-template-columns: 1.667vw 1fr;
  gap: 0.521vw;
  align-items: center;
}
.add-calendar-modal-detail-name input {
  height: 1.771vw;
  width: 14.375vw;
  border-radius: 0.417vw;
  border: 1.5px solid var(--Gray-2, #d6d6d6);
  background: var(--white, #fff);
  padding-left: 0.781vw;
}

.add-calendar-modal-detail-start {
  display: grid;
  grid-template-columns: 1.667vw 7.5vw 7.5vw;
  gap: 0.521vw;
  align-items: center;
}

.add-calendar-modal-detail-start input {
  height: 1.771vw;
  width: 7.292vw;
  border-radius: 0.417vw;
  border: 1.5px solid var(--Gray-2, #d6d6d6);
  background: var(--white, #fff);
}

.add-calendar-modal-detail-end {
  display: grid;
  grid-template-columns: 1.667vw 7.5vw 7.5vw;
  gap: 0.521vw;
  align-items: center;
}

.add-calendar-modal-detail-end input {
  height: 1.771vw;
  width: 7.292vw;
  border-radius: 0.417vw;
  border: 1.5px solid var(--Gray-2, #d6d6d6);
  background: var(--white, #fff);
}

.add-calendar-modal-detail button {
  border: 0px;
  margin-top: 1.042vw;
  width: 3.438vw;
  height: 1.823vw;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.26vw;
  background: var(--Primary, #16c0cc);
  color: #fff;
}

.add-calendar-modal-detail-name input {
  color: var(--Text, #1f1f1f);
  font-family: Pretendard;
  font-size: 0.781vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.add-calendar-modal-detail-start input,
.add-calendar-modal-detail-end input {
  color: var(--Text, #1f1f1f);
  font-family: Pretendard;
  font-size: 0.781vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}


.add-calendar-modal-detail input {
  border: 1px solid #dadada;
  transition: border 0.2s ease;
}

.add-calendar-modal-detail input.input-error {
  border: 1px solid #ff4d4f;
}

.add-calendar-modal-detail input::placeholder {
  color: #ff4d4f;
}
