:root {
  --primary-color: #16c0cc;
  --secondary-color: #41df82;
  --Gray-1: #f7f7f7;
  --Gray-2: #d6d6d6;
  --Gray-3: #bdbdbd;
  --Gray-4: #9e9e9e;
  --txt-color: #1f1f1f;
  --bg-color: #fbffff;
}

.register-container {
  margin-top: 102px;
  margin-bottom: 95px;
  display: grid;
  place-items: center;
}

.register-content {
  width: 508px;
}

.register-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 0 70px;
  font-size: 25px;
  font-weight: 400;
  color: var(--txt-color);
  line-height: 1;
}

.register-title-logo {
  width: 24.254px;
  height: 25px;
  margin-top: 2px;
}

.register-form {
  width: 422px;
  gap: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.register-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

.register-label {
  position: relative;
  display: inline-flex;
  width: fit-content;
  font-size: 18px;
  font-weight: 400;
  color: var(--txt-color);
}

.register-req {
  position: absolute;

  width: 7.871px;
  height: 8.273px;
  top: -1.5px;
  right: -10px;
  color: var(--primary-color);
}

.register-input {
  width: 100%;
  height: 50px;
  border: 1px solid #000;
  background: var(--bg-color);
  border-color: var(--Gray-2);
  outline: none;
  box-sizing: border-box;
  border-radius: 8px;
}

.register-input:focus {
  border-color: var(--primary-color);
}

.row {
  width: 100%;
  display: grid;
  grid-template-columns: 100% 76px;
  column-gap: 10px;
  align-items: center;
}

.register-btn {
  width: 76px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background: #16c0cc;
  font-size: 18px;
  color: #fff;
}

.register-btn:hover {
  cursor: pointer;
  background: #9ce2e7;
}

.register-btn:active {
  background: #007f88;
}

.phone {
  width: 100%;
  display: grid;
  grid-template-columns: 110px 20px 110px 20px 110px;
  column-gap: 13px;
  align-items: center;
}

.phone-input {
  width: 110px;
  height: 50px;
  border: 1px solid #000;
  background: var(--bg-color);
  border-color: var(--Gray-2);
  outline: none;
  box-sizing: border-box;
  text-align: center;
}

.dash {
  width: 20px;
  height: 1.5px;
  background: #bdbdbd;
  justify-self: center;
}

.submit {
  width: 422px;
  margin-top: 20px;
  height: 50px;
  border: 0;
  border-radius: 8px;
  background: var(--Gray-2);
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  transition: all 0.3s ease;
}

.submit.active {
  background: #16c0cc;
  color: #fff;
  cursor: pointer;
}

.submit.active:hover {
  background: #9ce2e7;
}

.submit.active:active {
  background: #007f88;
}
