.badge-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.4);
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.badge-modal {
  width: 62.083vw;;
  height: 31.823vw;
  display: inline-flex;
  padding: 5.208vw 2.604vw 2.604vw 2.604vw;
  flex-direction: column;
  position: relative; 
  border-radius: 1.042vw;
  background: #FFF;
}
.badge-modal-close {
  position: absolute;
  top: 1.042vw;
  right: 1.042vw;

  width: 0.823vw;
  height: 0.823vw;
  cursor: pointer;
}

.badge-modal-text{
  color: var(--Text, #1F1F1F);
  font-family: Pretendard;
  font-size: 1.042vw;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 100% */
  margin-bottom: 1.042vw;
}