.container{
    display: grid;
    grid-template-columns: 229px 1fr;

}

.upcoming-matchup-container {
    display: grid;
    grid-template-rows: 24px 1fr;
    background-color: #F7FAFA;
    padding: 34px 80px 106px 78px;
    gap: 50px;
}

.upcoming-matchup-header{
    cursor: pointer;
    width: 140px;
    display: grid;
    grid-template-columns: 20px 52px;
    text-align: center;
    
    align-items: center;
    gap:10px;
}
.upcoming-matchup-header img{
    width: 20px;
    height: 20px;
    aspect-ratio: 1/1;
}
.upcoming-matchup-header span{
    width: 120px;
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.upcoming-match-content{
    display: flex;
    flex-direction: column;
    height: 813px;
    width:1533px;
}

.upcoming-match-table-wrapper {
    flex: 1;
    overflow-y: auto;
    border-radius: 8px;
    width: 1533px;
}
.upcoming-match-table-wrapper table th{
    
    
}
.upcoming-match-table-wrapper table tr{

    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
}

.upcoming-match-table-wrapper table{
    width: 1533px;
    border-collapse: collapse;
    overflow: hidden;
    
}
.upcoming-match-table-wrapper thead{
    background: var(--Primary, #16C0CC);
    
    
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: var(--white, #FFF);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.upcoming-match-table-wrapper table thead tr{
    height: 61px;
    
}
.upcoming-match-table-wrapper table tbody{
    
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.upcoming-match-table-wrapper table tbody td{
    height: 58px;
    width: 219px;
    text-align: center;
    
}
.upcoming-match-table-wrapper tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.upcoming-match-table-wrapper tbody tr:nth-child(even) {
  background-color: #F2F2F2;
}
.upcoming-match-table-wrapper tbody button{
    border: none;
    border-radius: 2px;
    background: #D6FBFF;
    width: 62px;
    height: 24px;
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.upcoming-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.upcoming-pagination-double{
    width: 11px;
    height: 11px;
    margin-top: 2.8px;
}
.upcoming-pagination-mono{
    width: 16px;
    height: 16px;
}
.pagination-numbers {
    display: flex;
    gap: 25px;
    margin: 0 40px;
}
.pagination-move {
    display: flex;
    gap: 15px;
}
.upcoming-pagination button {
    border: none;
    background: none;
    cursor: pointer;
    height: 18px;
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.upcoming-pagination button.active {
    color: #16C0CC;
    font-weight: 600;
}