.header {
  width: 100%;
  background: #FFF;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.20);
  position: sticky;
}


.inner {
  padding: 20px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.logo img {
  width: 244px;
  height: 38px;
  display: block;
}

.user {
  display: flex;
  align-items: center;
  gap: 80px;

}

.user a {
  text-decoration: none;
  color: #000;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}