.add-matchup-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2000;
}
.add-matchup-modal {
    position: relative;
    background: #fff;
    padding: 3.646vw 3.125vw 3.125vw 3.125vw;
    width: 21.979vw;
    height: 33.542vw;
    border-radius: 1.042vw;
    display: flex;
}

.add-matchup-modal-close {
  position: absolute;
  top: 1.042vw;
  right: 1.042vw;

  width: 0.823vw;
  height: 0.823vw;
  cursor: pointer;
}

.add-matchup-modal-main{
    display:grid;
    grid-template-rows: 1.042vw 25.729vw 1.823vw;
    gap:2.604vw;
    align-items: center;
    justify-content: center;
}
.add-matchup-modal-header{
    color: var(--Text, #1F1F1F);
    text-align: center;
    font-family: Pretendard;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
}
.add-matchup-modal-body{
    display:grid;
    grid-template-rows: 1.771vw 1.771vw 1.771vw 1.771vw 14.219vw; 
    gap:1.042vw;
    align-items: center;
}
.add-matchup-modal-body span{
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 0.781vw;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 15px */
}
.add-matchup-modal-body textarea{
    width: 21.979vw;
    height: 11.562vw;
    border-radius: 0.417vw;
    border: 1.5px solid var(--Gray-2, #D6D6D6);
    background: #FFF;
    padding: 0.521vw;
    outline: none;
    font-family: Pretendard;
    font-size: 0.781vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 15px */
}
.add-matchup-modal-body div textarea:focus{
    border-color: #16C0CC;
}
.typing-count{
    text-align: right;
    color: var(--Gray-3, #BDBDBD);
    text-align: right;
    font-family: Pretendard;
    font-size: 0.781vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 15px */
}
.add-matchup-modal-button {
  display: grid;
  grid-template-columns: 3.438vw 3.438vw;
  gap:0.625vw;
  justify-content: center;
}
.add-matchup-left-button{
    border: 0px;
    margin-top: 1.042vw;
    width: 3.438vw;
    height: 1.823vw;
    border-radius: 0.26vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid var(--Primary, #16C0CC);
    background-color: #fff;
    color: var(--Primary, #16C0CC);
    font-family: Pretendard;
    font-size: 0.781vw;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 15px */
    cursor: pointer;
}
.add-matchup-left-button:hover{
    background-color: #EAFDFF;
    border: 1.5px solid #8BF7FF;
    color: var(--Primary, #8BF7FF);
}
.add-matchup-right-button{
    border: 0px;
    margin-top: 1.042vw;
    width: 3.438vw;
    height: 1.823vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.26vw;
    background: var(--Primary, #16C0CC);
    color: #fff;
    font-family: Pretendard;
    font-size: 0.781vw;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 15px */
    cursor: pointer;
}
.add-matchup-modal-category,
.add-matchup-modal-date{
    display: grid;
    grid-template-columns: 4.844vw 11.198vw;
    gap: 2.083vw;
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 0.938vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
}
.add-matchup-modal-date input{
    border-radius: 0.417vw;
    border: 1.5px solid var(--Gray-2, #D6D6D6);
    background: var(--white, #FFF);
    padding: 0.417vw 0.781vw;
    width: 9.635vw;
    height: 0.938vw;
    color: var(--Text, #1F1F1F);

    font-family: Pretendard;
    font-size: 0.781vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.add-matchup-modal input:focus{
    border-color: #16C0CC;
    outline: none;
    box-shadow: 0 0 0 2px rgba(22, 192, 204, 0.15);
}
.add-matchup-modal-place{
    display: grid;
    grid-template-columns: 4.844vw 15.104vw;
    gap: 2.083vw;
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 0.938vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
}
.add-matchup-modal-place div{
    display: grid;
    grid-template-columns: 11.198vw 3.333vw;
    gap: 0.729vw;
}
.add-matchup-modal-place button{
    cursor: pointer;
    border-radius: 0.253vw;
    background: var(--Primary, #16C0CC);
    border: 1.5px solid #16C0CC;
    color:#FFF;
    color: #FFF;
    font-family: Pretendard;
    font-size: 0.759vw;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 14.571px */
}
.add-matchup-modal-place input{
    border-radius: 0.417vw;
    border: 1.5px solid var(--Gray-2, #D6D6D6);
    background: var(--white, #FFF);
    padding: 0.417vw 0.781vw;
    width: 9.635vw;
    height: 0.938vw;
    
}
.add-matchup-sport-dropdown {
    position: relative;
}
.add-matchup-sport-dropdown-list {
    position: absolute;
    max-height: 10.417vw;
    overflow-y: auto;
}
.add-matchup-modal-time{
    display: grid;
    grid-template-columns: 4.844vw 11.198vw;
    gap:2.083vw;
    align-items: center;
}
.add-matchup-modal-time div{
    display: grid;
    grid-template-columns: 1fr 0.677vw 1fr;
    gap:0.521vw;
    align-items: center;
}
.add-matchup-modal-time div span{
    
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.add-matchup-modal-time div input{
    border-radius: 0.417vw;
    border: 1.5px solid var(--Gray-2, #D6D6D6);
    background: var(--white, #FFF);
    padding: 0.417vw 0.521vw;
    width: 100%;
    height: 1.563vw;
    color: var(--Text, #1F1F1F);
    text-align: center;
    font-family: Pretendard;
    font-size: 0.729vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    box-sizing: border-box;
    outline: none;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}
.add-matchup-modal-time div input:focus {
    border: 1.5px solid var(--Primary, #16C0CC);
    box-shadow: 0 0 0 2px rgba(22, 192, 204, 0.15);
}
.add-matchup-modal-content{
    display: grid;
    grid-template-rows: 1.042vw 1fr;
    gap: 0.521vw;
    align-items: center;
}
.add-matchup-sport-dropdown{
    position: relative;

    display: flex;
    width: 9.635vw;
    height: 0.938vw;
    padding: 0.417vw 0.781vw;

    border-radius: 0.417vw;
    border: 1.5px solid var(--Gray-2, #D6D6D6);
    background: #FFF;
}
.add-matchup-sport-dropdown-selected{
    display: flex;
    width: 100%; 
    color: var(--Gray-2, #D6D6D6);
    font-family: Pretendard;
    font-size: 0.781vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.add-matchup-sport-dropdown-selected img{
    width: 0.781vw;
    height: 0.781vw;
    transition: transform 0.2s ease;
}
.add-matchup-sport-dropdown-list{
    position: absolute;
    top: calc(100% + 0.312vw); 
    border-radius: 0.417vw;
    border: 1.5px solid var(--Gray-2, #D6D6D6);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
    color: var(--Gray-4, #9E9E9E);
    font-family: Pretendard;
    font-size: 0.781vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%; 
    background: white;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 9999;
    left: -0.052vw;
}
.add-matchup-sport-dropdown.open{
    box-shadow: 0 0 0 2px rgba(22,192,204,0.15);
    border: 1.5px solid var(--Primary, #16C0CC);
    outline: none;
}
.add-matchup-sport-dropdown-list li {
    height: 2.552vw;
    display: flex;
    align-items: center;
    padding-left: 1.042vw;
    cursor: pointer;
}
.add-matchup-sport-dropdown-list li:hover {
    background-color: #EAFDFF;
    color: #000;
}
.add-matchup-sport-dropdown-selected.selected {
    color: #000;
}
.add-matchup-sport-dropdown-selected img.open {
    transform: rotate(180deg);
}
.error-input {
    border: 1.5px solid #FF4D4F !important;
}

.add-matchup-sport-dropdown.error {
    border: 1.5px solid #FF4D4F !important;
}