.layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  width: 337px;
  background: #fafafa;
  border-right: 1px solid #eaeaea;

  padding: 20px;
  box-sizing: border-box;
}

.main {
  flex: 1;
  padding: 24px;
  box-sizing: border-box;
}