.footer {
  width: 100%;
  height: 319px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.footer-main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--Gray-2, #d6d6d6);
  padding: 50px 80px;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-left {
  display: flex;
  width: 438px;
  height: 219px;
  flex-direction: column;
}

.footer-left img {
  width: 207.4px;
  height: auto;
  margin-bottom: 20px;
}

.footer-intro {
  color: var(--Gray-4, #9e9e9e);
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 67px;
}

.footer-contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.footer-contact {
  color: var(--Gray-3, #bdbdbd);
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}

.footer-right {
  display: flex;
  align-items: flex-end;
}

.teamname {
  color: var(--Gray-3, #bdbdbd);
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}
