.edit-calendar-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2000;
}

.edit-calendar-modal {
    position: relative;
    background: #fff;
    width: 17.396vw;
    padding: 3.646vw 3.594vw 2.604vw 3.594vw;
    border-radius: 1.042vw;
}

.edit-calendar-modal-close {
  position: absolute;
  top: 1.042vw;
  right: 1.042vw;

  width: 0.823vw;
  height: 0.823vw;
  cursor: pointer;
}

.edit-calendar-modal-main{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}
.edit-calendar-modal-title{
    color: var(--Text, #1F1F1F);
    text-align: center;
    font-family: Pretendard;
    font-size: 1.302vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.edit-calendar-modal-detail{
    display: flex;
    flex-direction: column;
    gap: 1.042vw;
    align-items: center;
}

.edit-calendar-modal-detail span{
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 0.938vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
.edit-calendar-modal-detail-name{
    display: grid;
    grid-template-columns: 1.667vw 1fr;
    gap:0.521vw;
    align-items: center;
}
.edit-calendar-modal-detail-name input{
    height: 1.771vw;
    width: 14.375vw;
    border-radius: 0.417vw;
    border: 1.5px solid var(--Gray-2, #D6D6D6);
    background: var(--white, #FFF);
    padding-left: 0.781vw;
}

.edit-calendar-modal-detail-start{
    display: grid;
    grid-template-columns: 1.667vw 7.5vw 7.5vw;
    gap:0.521vw;
    align-items: center;
}

.edit-calendar-modal-detail-start input{
    height: 1.771vw;
    width: 7.292vw;
    border-radius: 0.417vw;
    border: 1.5px solid var(--Gray-2, #D6D6D6);
    background: var(--white, #FFF);
}

.edit-calendar-modal-detail-end{
    display: grid;
    grid-template-columns: 1.667vw 7.5vw 7.5vw;
    gap:0.521vw;
    align-items: center;
}  

.edit-calendar-modal-detail-end input{
    
    height: 1.771vw;
    width: 7.292vw;
    border-radius: 0.417vw;
    border: 1.5px solid var(--Gray-2, #D6D6D6);
    background: var(--white, #FFF);
}



.edit-calendar-modal-detail-name input{
   color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 0.781vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.edit-calendar-modal-detail-start input,.edit-calendar-modal-detail-end input {
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 0.781vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}


.edit-calendar-modal-detail input {
  border: 1px solid #DADADA;
  transition: border 0.2s ease;
}

.edit-calendar-modal-detail input.input-error {
  border: 1px solid #FF4D4F;
}

.edit-calendar-modal-detail input::placeholder {
  color: #FF4D4F;
}
.edit-calendar-modal-buttons {
  display: grid;
  grid-template-columns: 3.438vw 3.438vw;
  gap:12px
}

.edit-calendar-edit-button{
    border: 0px;
    margin-top: 1.042vw;
    width: 3.438vw;
    height: 1.823vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.26vw;
    background: var(--Primary, #16C0CC);
    color: #fff;
    font-family: Pretendard;
    font-size: 0.781vw;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 15px */
}
.edit-calendar-delete-button{
    border: 0px;
    margin-top: 1.042vw;
    width: 3.438vw;
    height: 1.823vw;
    border-radius: 0.26vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid var(--Primary, #16C0CC);
    background-color: #fff;
    color: var(--Primary, #16C0CC);
    font-family: Pretendard;
    font-size: 0.781vw;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 15px */
}