.landing-wrapper {
  height: calc(100vh - 90px);
  overflow-y: auto;
}

.landing-section {
  height: calc(100vh - 90px);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  opacity: 0;
  transform: translateY(60px);

  transition:
    opacity 0.7s ease,
    transform 0.7s ease;
}

.landing-section.active {
  opacity: 1;
  transform: translateY(0);
}