

.landing-wrapper {
  
  background: var(--Ash-Blue, #F5F9FC);
  overflow-x: hidden;
}

.landing-section {
  min-height: calc(100vh - 4.688vw);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  opacity: 0;
  transform: translateY(60px);

  transition:
    opacity 0.7s ease,
    transform 0.7s ease;
}

.landing-section.active {
  opacity: 1;
  transform: translateY(0);
}
.section5-container {
  position: relative;
  min-height: calc(100vh - 4.688vw);
  display: flex;
  align-items: center;
  justify-content: center;
}