.section2{
    
    display: grid;
    grid-template-columns: 18.802vw 36.458vw;
    gap:6.042vw;
    position: relative;
    z-index: 2;
}
.section2-left-main{
    padding-top: 1.302vw;
    text-align: right;
    font-family: Pretendard;
    font-size: 2.344vw;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 58.5px */
    
}
.section2-left-main-color{
    color: var(--Primary, #16C0CC) !important;
}
.section2-left{
    display: grid;
    grid-template-rows:7.292vw 3.333vw;
    gap:3.646vw;
    align-items: center;
}
.section2-left-sub{
    display: flex;
    text-align: right !important;
    color: var(--Gray-4, #9E9E9E);
    font-family: Pretendard;
    font-size: 1.302vw;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 32.5px */
}
.section2-back{
    right: -15.625vw;
    z-index: 0;
    position: absolute;
}
.section2-right-img{
    width: 36.458vw;
    height: auto;
    display: block;
}
