.section2{
    
    display: grid;
    grid-template-columns: 361px 700px;
    gap:116px;
    position: relative;
    z-index: 2;
}
.section2-left-main{
    padding-top: 25px;
    text-align: right;
    font-family: Pretendard;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 58.5px */
    
}
.section2-left-main-color{
    color: var(--Primary, #16C0CC) !important;
}
.section2-left{
    display: grid;
    grid-template-rows:140px 64px;
    gap:70px;
    align-items: center;
}
.section2-left-sub{
    display: flex;
    text-align: right !important;
    color: var(--Gray-4, #9E9E9E);
    font-family: Pretendard;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 32.5px */
}
.section2-back{
    right: -300px;
    z-index: 0;
    position: absolute;
}
