.section5{
    display: grid;
    grid-template-rows: 3.385vw 2.5vw 1.042vw;
    gap: 2.604vw;
    justify-content: center;
    justify-items: center;
    position: relative;
    z-index: 3;
}
.section5-top{
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 2.604vw;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 65px */
}
.section5-bottom{
    color: #FFF;
    font-family: Pretendard;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    margin-top: 7.812vw;
    cursor: pointer;
}
.section5-middle button{
    padding: 0.781vw 1.042vw;
    color: #FFF;
    border: 1.5px solid #16C0CC;
    border-radius: 0.417vw;
    background: var(--Primary, #16C0CC);
    font-family: Pretendard;
    font-size: 0.938vw;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 18px */
    cursor: pointer;
}
.section5-middle button:hover {
  background: #9CE2E7;
}
.section5-middle button:active {
  background: #007F88;
}
.section5-image-wrapper{
    position: absolute;
    inset: 0;
}
.section5-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.section5-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);

}