.section1{
  padding-top: 114px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 230px 1000px;
  gap:20px;
  background: var(--Ash-Blue, #F5F9FC);
  justify-content: center;
  position: relative;
}
.section1-top{
  width: 100%;
  display: grid;
  grid-template-rows: 50px 20px 68px;
  gap: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.section1-top-main{
  color: var(--Text, #1F1F1F);
  text-align: center;
  font-family: Pretendard;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 50px */
}
.section1-top-sub{
  color: var(--Gray-4, #9E9E9E);
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 20px */
}
.section1-bottom{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;

}
.section1-bottom-notebook{
  width: 977px;
  height: 592px;
  position: absolute;
  z-index: 2;
}
.section1-bottom-background{
  width: 100%;
  position: absolute;
}

.section1-top-button{
  padding: 15px 20px;
  z-index: 3;
  position: relative;
  color: #FFF;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 18px */
  border-radius: 8px;
  background: var(--Primary, #16C0CC);
  border: 1.5px solid #16C0CC;
  cursor: pointer;
}
.section1-top-button:hover {
  background: #9CE2E7;
}
.section1-top-button:active {
  background: #007F88;
}