 .apply-matchup-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2000;
}

.apply-matchup-modal {
    transform: translateY(-300px);
    position: relative;
    background: #fff;
    padding: 1.042vw;
    width: 18.073vw;
    height: 11.406vw;
    padding: 3.646vw 3.646vw 1.562vw 3.646vw;
    border-radius: 0.521vw;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-rows: 1.771vw 1.771vw 1.823vw;
    gap: 1.042vw 2.083vw;
}

.apply-matchup-close{
    position: absolute;
    top: 1.042vw;
    right: 1.042vw;

    width: 0.823vw;
    height: 0.823vw;
    cursor: pointer;
}

.apply-matchup-modal-text{
    color: var(--Text, #1F1F1F);
    text-align: center;
    font-family: Pretendard;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    margin-bottom: 1.562vw;
}

.apply-matchup-modal-button{
    display: grid;
    grid-template-columns: 3.438vw 3.438vw;
    gap:0.625vw;
}

.apply-matchup-modal-button-confirm{
    border: 0px;
    width: 3.438vw;
    height: 1.823vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.26vw;
    background: var(--Primary, #16C0CC);
    color: #fff;
    cursor: pointer;
}
.apply-matchup-modal-button-confirm:hover{
    background: #9CE2E7;
}
.apply-matchup-modal-button-confirm:active{
    background: #007F88;
}
.apply-matchup-modal-button-cancel{
    border: 0px;
    width: 3.438vw;
    height: 1.823vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.26vw;
    background: #fff;
    border: 1.5px solid var(--Primary, #16C0CC);
    color:#16C0CC;
    cursor: pointer;
}
.apply-matchup-modal-button-cancel:hover{
    border: 1.5px solid #8BF7FF;
    background: #EAFDFF;
    outline:none;
    color: #8BF7FF;
}
.apply-matchup-modal-button-cancel:active{
    border: 1.5px solid #007F88;
    background: rgba(0, 127, 136, 0.30);
    outline:none;
    color: #007F88;
}
.apply-matchup-modal-time{
    display: grid;
    grid-template-columns: 3.281vw 13.438vw;
    gap: 0.521vw;
    align-items: center;
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 0.938vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
}
.apply-matchup-modal-time-inputs{
    display: grid;
    grid-template-columns: 6.25vw 0.677vw 6.25vw;
    gap: 0.521vw;
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 0.938vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    
}
.apply-matchup-modal-time-inputs input{
    padding: 0.521vw;
    width: 4.948vw;
    height: 0.938vw;
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 0.677vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    border-radius: 0.417vw;
    border: 1.5px solid var(--Gray-2, #D6D6D6);
    background: var(--white, #FFF);
}
.apply-matchup-modal-date{
    display: grid;
    grid-template-columns: 3.281vw 13.438vw;
    gap: 0.521vw;
    align-items: center;
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 0.938vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
}

.apply-matchup-modal-date input{
    padding: 0.521vw;
    width: 12.865vw;
    height: 0.938vw;
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 0.729vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    border-radius: 0.417vw;
    border: 1.5px solid var(--Gray-2, #D6D6D6);
    background: var(--white, #FFF);
}
.apply-matchup-modal-date input:focus{
    outline: none;
    border: 1.5px solid  #16C0CC;
}
.apply-matchup-modal-time-inputs input:focus{
    outline: none;
    border: 1.5px solid  #16C0CC;
}