 .apply-matchup-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2000;
}

.apply-matchup-modal {
    transform: translateY(-300px);
    position: relative;
    background: #fff;
    padding: 20px;
    width: 347px;
    height: 219px;
    padding: 70px 70px 30px 70px;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-rows: 34px 34px 35px;
    gap: 20px 40px;
}

.apply-matchup-close{
    position: absolute;
    top: 20px;
    right: 20px;

    width: 15.8px;
    height: 15.8px;
    cursor: pointer;
}

.apply-matchup-modal-text{
    color: var(--Text, #1F1F1F);
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    margin-bottom: 30px;
}

.apply-matchup-modal-button{
    display: grid;
    grid-template-columns: 66px 66px;
    gap:12px;
}

.apply-matchup-modal-button-confirm{
    border: 0px;
    width: 66px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--Primary, #16C0CC);
    color: #fff;
    cursor: pointer;
}
.apply-matchup-modal-button-confirm:hover{
    background: #9CE2E7;
}
.apply-matchup-modal-button-confirm:active{
    background: #007F88;
}
.apply-matchup-modal-button-cancel{
    border: 0px;
    width: 66px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #fff;
    border: 1.5px solid var(--Primary, #16C0CC);
    color:#16C0CC;
    cursor: pointer;
}
.apply-matchup-modal-button-cancel:hover{
    border: 1.5px solid #8BF7FF;
    background: #EAFDFF;
    outline:none;
    color: #8BF7FF;
}
.apply-matchup-modal-button-cancel:active{
    border: 1.5px solid #007F88;
    background: rgba(0, 127, 136, 0.30);
    outline:none;
    color: #007F88;
}
.apply-matchup-modal-time{
    display: grid;
    grid-template-columns: 63px 258px;
    gap: 10px;
    align-items: center;
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
}
.apply-matchup-modal-time-inputs{
    display: grid;
    grid-template-columns: 120px 13px 120px;
    gap: 10px;
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    
}
.apply-matchup-modal-time-inputs input{
    padding: 10px;
    width: 95px;
    height: 18px;
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    border-radius: 8px;
    border: 1.5px solid var(--Gray-2, #D6D6D6);
    background: var(--white, #FFF);
}
.apply-matchup-modal-date{
    display: grid;
    grid-template-columns: 63px 258px;
    gap: 10px;
    align-items: center;
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
}

.apply-matchup-modal-date input{
    padding: 10px;
    width: 247px;
    height: 18px;
    color: var(--Text, #1F1F1F);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    border-radius: 8px;
    border: 1.5px solid var(--Gray-2, #D6D6D6);
    background: var(--white, #FFF);
}
.apply-matchup-modal-date input:focus{
    outline: none;
    border: 1.5px solid  #16C0CC;
}
.apply-matchup-modal-time-inputs input:focus{
    outline: none;
    border: 1.5px solid  #16C0CC;
}