.container {
  display: grid;
  grid-template-columns: 11.927vw 1fr;
}

.receive-matchup-container {
  display: grid;
  grid-template-rows: 1.25vw 1fr;
  background-color: #f7fafa;
  padding: 1.771vw 4.167vw 5.521vw 4.062vw;
  gap: 2.604vw;
}

.receive-matchup-header {
  cursor: pointer;
  width: 7.292vw;
  display: grid;
  grid-template-columns: 1.042vw 2.708vw;
  text-align: center;

  align-items: center;
  gap: 0.521vw;
}
.receive-matchup-header img {
  width: 1.042vw;
  height: 1.042vw;
  aspect-ratio: 1/1;
}
.receive-matchup-header span {
  width: 6.771vw;
  color: var(--Text, #1f1f1f);
  font-family: Pretendard;
  font-size: 1.042vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.receive-match-content {
  display: flex;
  flex-direction: column;
  height: 42.344vw;
  width: 79.844vw;
}

.receive-match-table-wrapper {
  flex: 1;
  overflow-y: auto;
  border-radius: 0.417vw;
  width: 79.844vw;
}
.receive-match-table-wrapper table tr {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
}

.receive-match-table-wrapper table {
  width: 79.844vw;
  border-collapse: collapse;
  overflow: hidden;
}
.receive-match-table-wrapper thead {
  background: var(--Primary, #16c0cc);

  justify-content: center;
  align-items: center;
  align-self: stretch;
  color: var(--white, #fff);
  font-family: Pretendard;
  font-size: 0.938vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.receive-match-table-wrapper table thead tr {
  height: 3.177vw;
}
.receive-match-table-wrapper table tbody {
  color: var(--Text, #1f1f1f);
  font-family: Pretendard;
  font-size: 0.781vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.receive-match-table-wrapper table tbody td {
  height: 3.021vw;
  width: 11.406vw;
  text-align: center;
}
.receive-match-table-wrapper tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.receive-match-table-wrapper tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.receive-match-table-wrapper tbody button {
  border: none;
  border-radius: 0.104vw;
  background: #d6fbff;

  height: 1.25vw;
  color: var(--Text, #1f1f1f);
  font-family: Pretendard;
  font-size: 0.625vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.receive-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.receive-pagination-double {
  width: 0.573vw;
  height: 0.573vw;
  margin-top: 0.146vw;
}
.receive-pagination-mono {
  width: 0.833vw;
  height: 0.833vw;
}
.pagination-numbers {
  display: flex;
  gap: 1.302vw;
  margin: 0 2.083vw;
}
.pagination-move {
  display: flex;
  gap: 0.781vw;
}
.receive-pagination button {
  border: none;
  background: none;
  cursor: pointer;
  height: 0.938vw;
  text-align: center;
  font-family: Pretendard;
  font-size: 0.781vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.receive-pagination button.active {
  color: #16c0cc;
  font-weight: 600;
}

.thead-date {
  display: grid;
  grid-template-columns: 1.667vw 0.729vw;
  gap: 0.521vw;
  align-items: center;
  justify-content: center;
}
.thead-date {
  cursor: pointer;
}
.thead-date img.rotate {
  transform: rotate(180deg);
}
.receive-match-table-wrapper table {
  table-layout: fixed;
}

.receive-button,
.refuse-button {
  width: 2.135vw;
}

.receive-club-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.521vw;
  gap: 1.302vw;
}

.receive-club-info img {
  width: 1.823vw;
  height: 1.823vw;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}
